<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">biblioteca</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca</property>
        <property name="hibernate.connection.username">biblioteca</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping class="br.com.msystem.biblioteca.ReservarMaterialBibliografico" />
        <mapping class="br.com.msystem.biblioteca.Permissao" />
        <mapping class="br.com.msystem.biblioteca.Usuario" />
        <mapping class="br.com.msystem.biblioteca.TipoMaterialBibliografico" />
        <mapping class="br.com.msystem.biblioteca.SolicitarReserva" />
        <mapping class="br.com.msystem.biblioteca.MaterialBibliografico" />
        <mapping class="br.com.msystem.biblioteca.GrupoUsuarioPermissao" />
        <mapping class="br.com.msystem.biblioteca.EmprestarMaterialBibliografico" />
        <mapping class="br.com.msystem.biblioteca.BloquearMaterialBibliografico" />
        <mapping class="br.com.msystem.biblioteca.GrupoUsuario" />
    </session-factory>
</hibernate-configuration>
